body{
    margin: 0;                /* Remove default margin */
    height: 100%; 
    background-color: rgb(112,195,94);
    overflow-x: hidden;
}
h1{
position: fixed;
font-family:inherit;
text-align: center;
font-size: 60px;
color:rgb(227, 223, 223);
  left: 50%;
  transform: translate(-50%, -50%); /* Shifts the header back to the center */

}
@media (max-width:768px) {
    .h1{
        font-size: small;
    }
}
.container{
    display:flex;            /* Use flexbox for the container */
    justify-content: space-between; /* Space between items */
    align-items: center;      /* Center items vertically */
    height: 100vh;           /* Full viewport height */
    padding: 20px; 
    margin-top: 50px;
    margin-left: 3%;
    gap: 50px;
}
@media (max-width: 768px) {
    /* Ensure both textbox and button are stacked properly */
    .container {
      flex-direction:column;
      align-items: center;
    
    }}
        
.text-box{
    flex: 1;
    position: relative;
    top: -75px;
    text-align: center;
  
}
@media (max-width: 768px) {
    .textbox {
      align-self: center;
    position: relative; /* Keep it in normal document flow */
      top: -500px;          /* Reset top position */
      margin-bottom: 150px;   /* Add extra margin below heading */
      min-height: 100vh;
      width: 100%;
    }
  }
.info {
        /* Center text inside the paragraph */
    padding: 10px;           /* Optional: padding around the text */
    border: 10px solid black;  /* Optional: border around the paragraph */
    background-color: #dfdcdcf2; /* Optional: background color */
    border-radius: 15px;  
    margin-right: 10px; 
    margin-left: 10px;
    margin-top: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
@media (max-width: 768px){
    .info{
        margin-top: 50%;
        margin-bottom: 50%;
    }
}

.left-column, .right-column{
    display: flex;
    flex-direction: column; /* Stacks images vertically */
    gap: 50px;
}

.stacked-image{
    width: 175px;
    height: auto;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .stacked-image {
      display: none;
    }
  }

button{
    border: 5px solid black;
    border-radius: 70px;
    background-color:#e7e7e79d;
    display: block;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: fixed; /* Positions button relative to the nearest positioned ancestor */
    z-index: 9999;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    padding: 10px 10px;
    margin: 20px auto 0;
    width: 145px;
    height: 70px
    
}

button:hover{
    background-color: rgba(155, 33, 8, 0.101);
}
   
@media (max-width: 768px) {
    /* Stack text and button vertically on mobile */
    button {
      position: fixed;
        z-index: 9999;
        width: 50%;       /* Make the button full width */
      bottom: 10 px;   /* Add space between text and button */
    }
  }
 
