body{
    margin: 0;                /* Remove default margin */
    height: 100%; 
    background-color: rgba(126, 0, 0, 0.828);
}
h1{
font-family:cursive;
position: fixed;;
text-align: center;
font-size: 50px;
color:rgb(227, 223, 223);
  left: 50%;
  transform: translate(-50%, -50%); /* Shifts the header back to the center */

}
.container{
    display: flex;            /* Use flexbox for the container */
    justify-content: space-between; /* Space between items */
    align-items: center;      /* Center items vertically */
    height: 100vh;           /* Full viewport height */
    padding: 20px; 
    margin-top: 1px;
    margin-left: 47px;
    gap: 50px;
}
        
.text-box{
    flex: 1;
    position: relative;
    top: -75px;
    text-align: center;
}
p {
        /* Center text inside the paragraph */
    padding: 10px;           /* Optional: padding around the text */
    border: 10px solid black;  /* Optional: border around the paragraph */
    background-color: #dfdcdcf2; /* Optional: background color */
    border-radius: 15px;  
    margin-right: 10px; 
    margin-left: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.left-column, .right-column{
    display: flex;
    flex-direction: column; /* Stacks images vertically */
    gap: 50px;
}

.stacked-image{
    width: 175px;
    height: auto;
    border-radius: 5px;
}

button{
    border: 5px solid black;
    border-radius: 70px;
    background-color:#e7e7e7e7;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute; /* Positions button relative to the nearest positioned ancestor */
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    padding: 10px 10px;
    width: 145px;
    height: 70px

}

button:hover{
    background-color: rgba(155, 33, 8, 0.101);
}
   

 